<%= stylesheet_link_tag 'application', 'postindex', 'data-turbo-track': 'reload' %>
<body>
  <main class="flex">
    <header></header>

    <div class="profile">
      <span class="profile-photo">
        <img src="https://user-images.githubusercontent.com/37116322/222183427-3450696b-429a-4e9a-9e19-48bbe4b48edf.png" alt="profile" class="user-pic">
      </span>
      <span class="user">
        <h2 class="name"><%= @user.name %></h2>
        <span class="second-half">
          <h5>#Number of posts:</h5>
          <h6 class="numberofposts"><%= @user.posts_counter %></h6>
        </span>
      </span>
    </div>

    <% @posts.each do |post| %>
      <div class="post">
        <div class="post-body">
          <h2 class="post-title">Post #<%= post.id %> by <%= post.author.name %></h2>
          <p class="post-content">
            <%= post.text %>
          </p>
          <div class="commentsandlikes">
            <h5 class="sign">Comments:</h5>
            <span class="numberofcomments"><%= post.comments_counter %></span>
            <%= link_to 'View', "/users/#{@user.id}/posts/#{post.id}", class: 'post-link' %>
            <h5>Likes:</h5>
            <span class="numberoflikes"><%= post.likes_counter %></span>
          </div>
        </div>

        <ul class="comment-list">
          <% post.comments.order(created_at: :desc).limit(5).each do |comment| %>
            <li class="comment">
              <span class="comment-span">
                <h5 class="commenter"><%= comment.user.name %></h5>
                <p class="comment-content"><%= comment.text %></p>
              </span>
               <% if can? :destroy, comment %>
               <%= button_to 'Delete', user_post_comment_path(@user, post, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
               <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= will_paginate @posts %>

    <div class="button">
      <div class="wrapper">
        <button>
          See more Post 
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>

  </main>

  <footer>hh</footer>
</body>
