<%= stylesheet_link_tag 'application', 'postshows', 'data-turbo-track': 'reload' %>
<body>
  <main class="flex">
    <header></header>
    
      <div class="post">
        <div class="post-body">
          <span>
          <h2 class="post-title">Post #<%= @post.id %> by <%= @post.author.name %></h2>
          <div class="commentsandlikes">
            <h5 class="sign">Comments:</h5>
            <span class="numberofcomments"><%= @post.comments_counter %></span>
            <h5>Likes:</h5>
            <span class="numberoflikes"><%= @post.likes_counter %></span>
          </div>
          </span>
          <p class="post-content">
            <%= @post.text %>
          </p>
            <% if can? :destroy, @post %>
            <%= button_to 'Delete', user_post_path(@post.author, @post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            <% end %>



        <% if current_user.likes?(@post) %>
          <%= form_with(model: @like, url: user_post_like_path(@user, @post, @like), method: :delete, local: true) do |f| %>
            <%= f.submit 'Unlike', class: 'like-button' %>
          <% end %>
        <% else %>
          <%= form_with(model: @like, url: user_post_likes_path(@user, @post), method: :post, local: true) do |f| %>
            <%= f.submit 'Like', class: 'like-button' %>
          <% end %>
        <% end %>
        <%= link_to 'Add Comment', "/users/#{@post.author.id}/posts/#{@post.id}/comments/new", class: 'btn-primary' %>
        </div>


        <ul class="comment-list">
          <% @post.comments.each do |comment| %>
            <li class="comment">
              <span class="comment-span">
                <h5 class="commenter"><%= comment.user.name %></h5>
                <p class="comment-content"><%= comment.text %></p>
              </span>
              <% if can? :destroy, comment %>
               <%= button_to 'Delete', user_post_comment_path(@user, @post, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
               <% end %>
            </li>
          <% end %>
        </ul>
      </div>
 

    <div class="button">
      <div class="wrapper">
        <button>
          See more Posts 
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>

  </main>

  <footer>hh</footer>
</body>
