<div>
    <h1>Particular Post</h1>
    <ul>
        <h2><%= @author_name %></h2>
        <li>Comments:<%= @post.comments_counter %>, Likes: <%=@post.likes_counter%></li>
        <li><%= @post.title %></li>
        <li><%= @post_text %></li>
    </ul>
</div>