<div>
    <h1>Particular Post</h1>
    <ul>
        <h2><%= @posts.author.name %></h2>
        <li>Comments:<%= @posts.comments_counter %>, Likes: <%=@post.likes_counter%></li>
        <li><%= @posts.title %></li>
        <li><%= @posts.text %></li>
    </ul>
</div>